nav.navbar.navbar-default.navbar-fixed-top.navbar-top
  .container
    .navbar-header
      a.navbar-brand NICOLE HSU
    .navbar-collapse.collapse
      .nav.navbar-nav.navbar-right
        li
          a(href="#section_ask") ABOUT ME
        li
          a(href="#section_about") ILLUSTRATOR
        li
          a(href="#section_story") PHOTOGRPHY
header.jumbotron
  .container
    h1(data-0="transform: translateY(-50px)" data-500="transform: translateY(100px)") PORTFOLIO
    hr
    h4 About My Life
section#section_ask
  .container
    .row
      .col-sm-5.img(data-0="transform: translateX(-200px)" data-500="transform: translateY(0px)")
      .col-sm-7(data-300="opacity: 0" data-500="opacity: 1")
        h2 徐宇岑 
        p 1998年
        p 復興商工
        p 嶺東科技大學
        p 曾任職執宇科技有限公司 電商美編人員
section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h1 ILLUSTRATOR
        hr
      .col-md-4.col-sm-6(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        .img_wrap
          img(src="https://i.imgur.com/T0AuSwK.jpg", alt="")
      .col-md-4.col-sm-6(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        .img_wrap
          img(src="https://i.imgur.com/hPjHD4S.png", alt="")
      .col-md-4.col-sm-6(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        .img_wrap
          img(src="https://i.imgur.com/Q9wcj2g.png", alt="")
        
section#section_story
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h1 PHOTOGRAPHY
        hr
      .col-md-4.col-sm-6(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        .img_wrap
          img(src="https://i.imgur.com/O3Zq3xp.jpg", alt="")
      .col-md-4.col-sm-6(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        .img_wrap
          img(src="https://i.imgur.com/M13X4Ir.jpg", alt="")
      .col-md-4.col-sm-6(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        .img_wrap
          img(src="https://i.imgur.com/3gtPoY5.jpg", alt="")
        

footer.jumbotron
  .container
    h2 Contact Me
    .button(onclick="location.href='mailto:fish870222@gmail.com'")

  .copyright
  | &copy;2020 - 
  strong Nicole Hsu