@charset "UTF-8";
* {
  font-family: "Oswald", sans-serif, "微軟正黑體";
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
}

nav.navbar {
  transition: 0.5s;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
  background-color: transparent;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a {
  color: grey;
  transition: 0.5s;
}
nav.navbar.navbar-default.navbar-fixed-top.navbar-top a:hover {
  color: #125D98;
}

header.jumbotron {
  text-align: center;
  background-image: url(https://i.imgur.com/5fVTbn6.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
header.jumbotron .container {
  color: white;
  padding: 200px 0px;
}
header.jumbotron hr {
  max-width: 50px;
  border: solid 2px #125D98;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #125D98;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://i.imgur.com/JTDtVy9.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 20px;
  color: white;
}
section#section_ask p {
  margin-top: 0px;
  padding: 0px 20px;
  color: white;
}

section#section_about img, section#section_story img {
  width: 100%;
}
section#section_about .img_wrap, section#section_story .img_wrap {
  overflow: hidden;
}

section#section_future img {
  width: 100%;
}
section#section_future i {
  font-size: 30px;
}
section#section_future .feature {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer.jumbotron {
  text-align: center;
  background-image: url(https://i.imgur.com/5fVTbn6.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0px;
}
footer.jumbotron input {
  background-color: transparent;
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
footer.jumbotron .container {
  color: white;
  padding: 60px 0px;
}
footer.jumbotron .copyright {
  color: white;
}